.container {
  .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 94rem;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
      font-weight: bold;
      color: #333;
    }
    td {
      &:first-child {
        color: #666;
        font-weight: bold;
      }
    }
  }
}

.paginacao {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }
}
